@charset "utf-8";
/* CSS Document */

body{
	text-align:center;
	background-color:#C0C0C0;
}



.screen{
	background-color:#FF5E5E;
}

#result{
	border:none;
	text-align:right;
	color:#000;
	font-size:2rem;
	height:155px;
	width:282px;
	background-color:#FF5E5E;
}

.btn{
	border:none;
	background-color:#FF2F97;
}

.row-4{
	padding:4% 1% 5%;
}
.row-3{
padding:4% 2% 3%;
}

.row-2{
padding:4% 2% 3%;
}

.row-5{
/*padding:4% 2% 0%;*/
}



.clear{
	    width: 50px;
    height: 77px;
	display:inline-block;
    font-size: 2rem;
    font-family: Book Antiqua;
    border: none;
    background-color: #FF5E5E;
	    border-radius: 12px 1px;

}


.num{
	    width: 50px;
    height: 50px;
	    font-size: 2rem;
    font-family: Book Antiqua;
    border: none;
    background-color:#FF6A6A;
    border-radius: 100px;
                                                                                
}

p,{
	color:#FFF;
}

.final-number{
	
	 width: 50px;
    height: 50px;
    font-family: Book Antiqua;
    border: none;
    border-radius: 100px;
    background-color: #FF0000;
 
}


.number{
	
	    width: 50px;
    height: 50px;
	font-size:2rem;
	font-family: Book Antiqua;
	border:none;
    background-color:#FF6A6A;
   	border-radius: 100px;
}


.pick{
}

.top{
border-radius: 19px;
	background-color:#FF9595;
}

.buttons{
	height:290px;
		border-radius:0px 0px 0px 15px;
	display: inline-block;
    width: 78%;
    background-color: #FF9595;
}

.side-buttons{
	height:294px;
	border-radius:0px 0px 15px 0px;
	display: inline-block;
    width: 20%;
    background-color:#FF4848;
}

.calculator{
		border-radius:19px;
    width: 38%;
    position: absolute;
    left: 37%;
	background-color:#FF6A6A;
}



